@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

body {
	font-family: "Montserrat", sans-serif;
}

.text-black {
	color: #3a3a38 !important;
}

#hero {
	position: relative;
}
.hero-img {
	background: url(./assets/hero-1.png) bottom center / cover no-repeat;
	text-align: center;
	padding: 250px 0;
	color: white;
}
#hero .text-container {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 100%;
}
.overlay {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.164);
	z-index: 0;
}
#hero h1 {
	font-size: 44px;
	font-weight: bold;
	letter-spacing: 7px;
}
#hero h3 {
	font-size: 30px;
	letter-spacing: 6px;
	font-weight: 400;
}

#hero span,
#about-us h1 span,
.right-container span {
	color: #91ea9d;
}

#about-us {
	padding: 70px;
}

#about-us .text-container {
	max-width: 830px;
	margin: auto;
}

#about-us h1,
#features h1 {
	font-size: 44px;
	font-weight: bold;
	margin: 60px 0;
}
hr {
	width: 300px;
	margin: auto;
	opacity: 1;
}

.bg-green {
	background-color: #8ecd4f;
}

.card .btn {
	border: none;
	color: black;
}
.card .btn:hover {
	background-color: #389733;
	color: white;
}

.left-container .card {
	border: none;
	height: 100%;
	width: 100%;
}

.card img {
	width: 100%;
}

#features {
	margin: 100px 200px;
}
#features .left-container {
	width: 1200px;
}

#features .row {
	flex-direction: row;
	width: 100%;
}
.action-card {
	display: flex;
	flex-direction: row;
	align-items: center;
	gap: 3px;
	align-items: center;
}
.action-card h5 {
	margin: 0px;
}
.action-card .icon {
	margin: 10px;
}
.action-card h6 {
	font-size: 10px;
	color: rgb(161, 161, 161);
}
.action-card circle {
	width: 50px;
	height: 50px;
	border-radius: 50%;
	display: flex;
	align-items: center;
	justify-content: center;
	border: 1px solid black;
}

.action-card .card-body {
	display: flex;
	flex-direction: column;
}

.community {
	display: flex;
	padding: 20px;
	align-items: center;
	gap: 10px;
	border-radius: 10px;
	margin-top: 15px;
	margin-right: 20px;
}
.community .icon {
	width: 30px;
	height: 40px;
}

.ai-support {
	display: flex;
	flex-direction: row;
	padding: 20px;
	gap: 10px;
	border-radius: 5px;
	margin-top: 15px;
	margin-right: 20px;
	align-items: center;
}

.ai-support button {
	transition: transform 0.3s ease, box-shadow 0.3s ease;
}
.ai-support button:hover {
	transform: scale(1.4);
	/* box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3); */
}
.community .card-media {
	align-self: right;
	margin-left: auto;
}
.community .card-btn {
	border: none;
	background-color: #8ecd4f;
	padding: 5px 20px;
	border-radius: 40px;
	transition: transform 0.3s ease, background-color 0.3s ease, color 0.3s ease;
}
.community .card-btn:hover {
	background-color: green;
	color: white;
}


@media only screen and (max-width: 1000px) {
	#features {
		margin: 10px 30px;
	}
}
